{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block main %}
    {# Utilisation de la fonction greet #}
    <p>{{ greet('Théo') }}</p>

    {# Utilisation du filtre truncate #}
    <p>{{ "Symfony est un framework PHP très puissant pour créer des applications web"|truncate(30) }}</p>
{% endblock %}