<nav>
    <a href="/">Accueil</a> |
    <a href="/hello/user">Hello</a> |
    <a href="/about">À propos</a> |
    <a href="/random">Citation</a>
</nav>
<hr>
<h1>À propos</h1>
<p>Bienvenue sur mon application Symfony 👋</p>