{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block main %}
    <h1>Bienvenue sur la page d'accueil</h1>
    <!-- Contenu spécifique à la page d'accueil -->
{% endblock %}